*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-optical-sizing: auto;
    color:rgb(255, 140, 0);
}

html{
    height:100%;
    width: 100%;
}

#back-img{
    height:100vh;
    overflow: hidden;
    position: relative;
}

#back-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;  
    
}

#over-lay{
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.7);
}

#container{
    z-index: 1;
    inset: 0;
    position: absolute;
    top:8rem;
    left: 5rem;
    background-color: rgba(0,0,0,0.4);
    width: fit-content;
    height: fit-content;
    border-radius:1rem;
    padding:1rem;
   
}

 

@media screen and (max-width:500px){
    #container{
        left:0;
        top: 15rem;
        width:100%;
    }
    #des i{
        display: none;
    }
}

#container h1{
    font-style: oblique;
    font-weight: bolder;
    font-size:2.5rem;
    font-family: cursive;
}

#container #des {
    display: flex;
    align-items: center;
    font-family: "Coming Soon", cursive;
}

#container #des p{
    text-decoration: underline dotted;
}

#feedback-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:2rem;
    font-family: "Coming Soon";
    text-decoration: underline solid;
}

#form1{
    font-family: "Coming Soon", cursive;
}
#feedback{
    background: transparent;
    border:none;
    border-bottom: solid 1px;
    display: block;

}
#feedback:focus{
    outline:none
}

button{
    margin-top:1rem;
    background-color:rgb(255, 140, 0);
    color: white;
    font-weight: bolder;
    font-size:1rem;
    width:90%;
    border-radius: 10px;
    padding: 7px;
    margin:10%;
    
}

.msgdiv{
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}

#errormsg{
    color: red;
}



